/**
 * Message Toolbar stylesheet
 **/
/* line 5, ../../../styles/toolbars/msg-toolbar.scss */
.tcMsgToolbar {
  text-align: center;
  height: 22px;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
}
/* line 12, ../../../styles/toolbars/msg-toolbar.scss */
.tcMsgToolbar .tcMsgBox {
  display: none;
  border-color: #F0C36D;
  background-color: #F9EDBE;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 34, ../../../styles/toolbars/msg-toolbar.scss */
.tcMsgToolbar .tcMsgBox.error {
  background-color: red !important;
  color: white;
  font-weight: normal;
}
