/**
 * Filters Stylesheet
 **/
/* line 9, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions {
  width: 150px;
  height: 100px;
}
/* line 12, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter {
  overflow: hidden;
  clear: both;
}
/* line 15, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter .dish_type_icon {
  float: left;
  margin-right: 10px;
  padding-top: 6px;
}
/* line 20, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter .dish_type_name {
  float: left;
}
