/**
 * Dish Rate and Review stylesheet
 **/

.tcDishReviewModal {
  background: white;
  
  
  .rating {
    // margin-left: 70px;
    overflow: hidden;
    .star {
      float: left;
      width: 72px;
      height: 72px;
      background: url("../img/common/icons/star_big_white.png") no-repeat;
      &.selected {
        background: url("../img/common/icons/star_big_gold.png") no-repeat;
      }
    }
  }
  
}