/**
 * Multi Language main stylesheet
 **/

.tcMultiLangPanel {
  // background: transparent;
  // padding: 50px 20px;
  // text-align: center;
  .x-button.flag {
    display: block;
    width: 72px;
    height: 72px;
    float: left;
    margin: 20px;
    &.en {
      background-image: url('../img/flags/bt-en.png');
      &:active {
        background-image: url('../img/flags/bt-en-active.png');
      }
    }
    &.es {
      background-image: url('../img/flags/bt-es.png');
      &:active {
        background-image: url('../img/flags/bt-es-active.png');
      }
    }
    &.cat {
      background-image: url('../img/flags/bt-cat.png');
      &:active {
        background-image: url('../img/flags/bt-cat.png');
      }
    }
    &.fr {
      background-image: url('../img/flags/bt-fr.png');
      &:active {
        background-image: url('../img/flags/bt-fr-active.png');
      }
    }
    &.de {
      background-image: url('../img/flags/bt-de.png');
      &:active {
        background-image: url('../img/flags/bt-de-active.png');
      }
    }
    &.ru {
      background-image: url('../img/flags/bt-ru.png');
      &:active {
        background-image: url('../img/flags/bt-ru-active.png');
      }
    }
  }
}

