// @import '../skins/japanese';

/**
 * Filters Stylesheet
 **/

.tcFilterView {
  
  .tcFilterOptions {
    width: 150px;
    height: 100px;
    .dish_type_filter {
      overflow: hidden;
      clear: both;
      .dish_type_icon {
        float: left;
        margin-right: 10px;
        padding-top: 6px;
      }
      .dish_type_name {
        float: left;
      }
    }
  }
  
}

