@import '../skins/japanese';

/**
 * Survey comments stylesheet
 **/

.tcSurveyComments {
  padding: 5px 10px;
  background: #f1e5d0;
  height: 85px;
  label {
    font-size: 16px;
  }
  
  .tcSurveyCommentsNameContainer {
    width: 200px;
    .tcSurveyCommentsName {
      input {
        display: block;
        margin-top: 3px;
        height: 36px;
        padding: 0 3px;
      }
    }
  }
  
  .tcSurveyCommentsDetailsContainer {
    width: 662px;
    .tcSurveyCommentsDetails {
      .tcSurveyGeneralComment {
        height: 36px;
        width: 100%;
        display: block;
        margin-top: 3px;
        padding: 7px 5px;
      }
    }
  }
  
  .tcSurveyCommentsBtn.x-button {
    margin-left: 10px;
    margin-top: 24px;
    height: 36px;
    width: 94px;
    font-size: 18px;
    color: gray;
    @include background-image(linear-gradient($tc-btn-gradient-color, $tc-btn-color, $tc-btn-color));
    &.x-button-pressing, &.x-button-pressed {
      @include background-image(linear-gradient(lighten($tc-btn-color,20%), $tc-btn-gradient-color));
    }
    &.x-button-action{
      color: white;
    }
  }
}

