
		<iframe src="https://apigee.com/tocarta/embed/console/tcapi" width="100%" height="100%" scrolling="no"></iframe>

  	<!-- <h4>Tocarta's Restaurant Analytics</h4>
  	<ul>
  		<li><a href="/cli/an/comments_rating.json?restaurant_id=111">comments_rating</a></li>
  		<li><a href="/cli/an/waiters_ack_timing.json?restaurant_id=111">waiters_ack_timing</a></li>
  		<li><a href="/cli/an/most_order_dishes.json?restaurant_id=111">most_order_dishes</a></li>
  	</ul> -->
