<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hemos detectado que has introducido tú contraseña de forma incorrecta repetidas veces, <%= @user.email %></h1>
    <p>
      Si has olvidado tú contraseña contacta con: admin@tocarta.es
    </p>
    <p>
      Si por el contrario, no recuerds haber intentado acceder últimamente contacta con: admin@tocarta.es
    </p>
    <p>Muchas Gracias</p>
  </body>
</html>
