
  <div>
    <header>
      <h1>API Testing</h1>
    </header>
    <div>    	
    	<h4>Tocarta's Client Methods</h4>
    	<ul>
    		<li><a href="/cli/c/validate_license_key.json?key=sushibar1">validate_license_key?key=sushibar1</a></li>
    		<li><a href="/cli/c/get_restaurant_info.json?key=sushibar1">get_restaurant_info?key=sushibar1</a></li>
    		<li><a href="/cli/c/get_images_to_download.json?key=sushibar1&all=true">get_images_to_download?key=sushibar1&all=true</a></li>
    		<li><a href="/cli/c/confirm_downloaded_images.json?key=sushibar1">confirm_downloaded_images?key=sushibar1</a></li>
    		<li><a href="/cli/c/call_waiter.json?key=sushibar1">call_waiter?key=sushibar1</a></li>
    		<li><a href="/cli/c/request_bill.json?key=sushibar1">request_bill?key=sushibar1</a></li>
    		<li><a href="/cli/c/checkin_table.json?key=sushibar1&table=1&dinners=4&language=es&new_table=false">checkin_table?key=sushibar1&table=1&dinners=4&language=es&new_table=false</a></li>
    		<li><a href="/cli/c/checkout_table.json?key=sushibar1">checkout_table?key=sushibar1</a></li>
    		<li><a href="/cli/c/get_sent_order_items.json?key=sushibar1">get_sent_order_items?key=sushibar1</a></li>
    		<li><a href="/cli/c/make_order.json?key=sushibar1">make_order?key=sushibar1</a></li>
    		<li><a href="/cli/c/im_alive.json?key=sushibar1">im_alive?key=sushibar1</a></li>
    	</ul>
    	<h4>Tocarta's Restaurant Methods</h4>
    	<ul>
    		<li><a href="/cli/r/get_restaurant_situation.json?key=sushibar1&num_activities=50">get_restaurant_situation.json?key=sushibar1&num_activities=50</a></li>
    		<li><a href="/cli/r/whos_alive.json?key=sushibar1&checked=no">whos_alive?key=sushibar1&checked=no</a></li>
    		<li><a href="/cli/r/whos_alive.json?key=sushibar1&checked=yes">whos_alive?key=sushibar1&checked=yes</a></li>
    		<li><a href="/cli/r/update_tablets.json?key=sushibar1">update_tablets?key=sushibar1</a></li>
    		<li><a href="/cli/r/ack_activity.json?key=sushibar1&activity_id=222">ack_activity?key=sushibar1&activity_id=222</a></li>
    	</ul>
    	<h4>Tocarta's Restaurant Analytics</h4>
    	<ul>
    		<li><a href="/cli/an/comments_rating.json?restaurant_id=111">comments_rating</a></li>
    		<li><a href="/cli/an/waiters_ack_timing.json?restaurant_id=111">waiters_ack_timing</a></li>
    		<li><a href="/cli/an/most_order_dishes.json?restaurant_id=111">most_order_dishes</a></li>
    	</ul>
    </div>

    <footer>
     <p>&copy; Copyright 2012 - Tocarta</p>
    </footer>
  </div>