/**
 * Dish Rate and Review stylesheet
 **/
/* line 5, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal {
  background: white;
  font-family: 'YanoneKaffeesatzThin';
}
/* line 9, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .x-inner.x-panel-inner {
  padding: 20px;
}
/* line 13, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .left {
  float: left;
  width: 130px;
}
/* line 16, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .left.ratingTitle {
  margin-top: 25px;
}
/* line 20, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .right {
  float: left;
  width: 360px;
}
/* line 24, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .block {
  overflow: hidden;
  padding: 10px;
}
/* line 29, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .tcDishReviewModalTitle {
  font-size: 30px;
  font-family: 'YanoneKaffeesatzRegular';
}
/* line 34, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .rating {
  overflow: hidden;
}
/* line 37, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .rating .star {
  float: left;
  width: 72px;
  height: 72px;
  background: url("../img/common/icons/star_big_white.png") no-repeat;
}
/* line 42, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .rating .star.selected {
  background: url("../img/common/icons/star_big_gold.png") no-repeat;
}
/* line 48, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .tcDishReviewModalButtons {
  margin-top: 10px;
}
/* line 50, ../../../styles/dish/reviewmodal.scss */
.tcDishReviewModal .tcDishReviewModalButtons .tcDishReviewModalCancelBtn {
  margin-right: 40px;
}
