development:
    adapter: postgresql
    database: tocarta_dev
    username: your_username
    password: your_password
    host: localhost

test:
    adapter: postgresql
    database: tocarta_test
    username: your_username
    password: your_password
    host: localhost

production:
    adapter: postgresql
    database: tocarta_prod
    username: your_username
    password: your_password
    host: localhost