/**
 *   MatrixMenu Stylesheet
 */
/* line 8, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .x-carousel-indicator {
  position: fixed !important;
  margin-bottom: 35px;
}
/* line 15, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView {
  width: 100%;
  height: 100%;
}
/* line 19, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-image img {
  width: 100%;
  height: 100%;
}
/* line 24, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
/* line 32, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-info-container {
  overflow: hidden;
  height: 80px;
}
/* line 37, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-left {
  float: left;
  width: 87%;
  height: 100%;
  background-color: white;
  padding: 5px;
  opacity: 0.6;
}
/* line 44, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-left .dish-name {
  font-weight: bold;
  font-size: 21px;
}
/* line 48, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-left .dish-description {
  font-size: 19px;
  font-family: "Nova Round",arial,verdana;
  color: #807b4b;
}
/* line 54, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-right {
  float: right;
  width: 13%;
  height: 100%;
  background-color: black;
  font-size: 35px;
  color: white;
  text-align: center;
  padding-top: 18px;
  opacity: 0.8;
}
/* line 65, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishImageView .dish-info .dish-right .dish-price .euro {
  color: #CB8D8A;
  font-size: 31px;
  margin-right: 15px;
}
/* line 76, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView {
  width: 100%;
  height: 100%;
}
/* line 80, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView .dish-name {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 86, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView .dish-name h1 {
  font-weight: bold;
  font-size: 200%;
}
/* line 92, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView .dish-info {
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: inline-block;
}
/* line 100, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView .dish-info .dish-description {
  width: 96%;
  display: inline-block;
}
/* line 109, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTextView .dish-info .dish-price {
  width: 4%;
  display: inline-block;
}
/* line 124, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView {
  width: 100%;
  height: 100%;
}
/* line 128, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView .dish-image img {
  width: 100%;
  height: 100%;
}
/* line 133, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView .dish-info {
  bottom: 0px;
  width: 100%;
  position: absolute;
  display: inline-block;
}
/* line 139, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView .dish-info .dish-name {
  width: 96%;
  display: inline-block;
}
/* line 143, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView .dish-info .dish-name p {
  font-weight: bold;
}
/* line 148, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishImageView .dish-info .dish-price {
  width: 4%;
  display: inline-block;
}
/* line 161, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView {
  width: 100%;
  height: 100%;
}
/* line 165, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView .dish-name {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 171, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView .dish-name h1 {
  font-weight: bold;
  font-size: 200%;
}
/* line 177, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView .dish-info {
  bottom: 0px;
  width: 100%;
  position: absolute;
  display: inline-block;
}
/* line 183, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView .dish-info .dish-description {
  width: 96%;
  display: inline-block;
}
/* line 192, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuMiniDishTextView .dish-info .dish-price {
  width: 4%;
  display: inline-block;
}
/* line 206, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView {
  width: 100%;
  height: 100%;
}
/* line 210, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-info {
  top: 0px;
  width: 100%;
  height: 10%;
  position: relative;
  display: inline-block;
}
/* line 217, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-info .dish-name {
  width: 35%;
  display: inline-block;
}
/* line 222, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-info .dish-description {
  width: 50%;
  display: inline-block;
}
/* line 227, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-info .dish-price {
  width: 5%;
  display: inline-block;
}
/* line 233, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra {
  width: 100%;
}
/* line 236, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-tabs {
  width: 60%;
}
/* line 239, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-tabs .tab-content {
  width: 100%;
  height: 100%;
  position: relative !important;
}
/* line 246, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-social {
  width: 40%;
  height: 100%;
  position: relative;
}
/* line 251, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-social .share {
  width: 48px;
  height: 48px;
}
/* line 256, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-social .twitter {
  background-image: url("http://b2badsl.net/twitter_neue_ios_icon_by_theintenseplayer-d5fwil3.png");
}
/* line 257, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-social .facebook {
  background-image: url("http://www.codethemed.com/images/footer-facebook.png");
}
/* line 258, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishDetailsView .dish-extra .dish-social .google {
  background-image: url("http://lydiahutchinson.com/wp-content/uploads/2011/11/Google-Plus-1-icon.png");
}
/* line 266, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTiledView {
  position: relative;
}
/* line 271, ../../../styles/matrixmenu/main.scss */
.tcMatrixMenu .tcMatrixMenuDishTiledTitleView {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  padding: 5px;
  z-index: 999;
}
