/**
 * Filters Stylesheet
 **/
/* line 9, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions {
  width: 280px;
  height: 400px;
}
/* line 13, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter {
  overflow: hidden;
  clear: both;
  line-height: 31px;
}
/* line 17, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter .dish_type_icon {
  float: left;
  margin-right: 10px;
  padding-top: 11px;
}
/* line 22, ../../../styles/filters/main.scss */
.tcFilterView .tcFilterOptions .dish_type_filter .dish_type_name {
  float: left;
}
