-# Show a list of bottom 10 dishes
- dishes = Dish.to_bottom_rating_array_by_chain(@restaurant.chain.id) # FIXME: must be restaurant dishes not chain
.bottom_dishes
  - if dishes.nil?
    %p Not enough data
  - else
    .span4
      .widget-box
        .widget-header
          %h5 Bottom rating dishes
          .widget-toolbar
            %a{href: '#', 'data-action' => 'reload'}
              %i.icon-refresh
            %a{href: '#', 'data-action' => 'collapse'}
              %i.icon-chevron-up
            %a{href: '#', 'data-action' => 'close'}
              %i.icon-remove
        .widget-body
          .widget-main.padding-8
            = chart_tag('chart_top_dishes', 300, chain: @restaurant.chain, reverse: true)
            %br
            %ul
              - dishes.each do |d|
                %li
                  = d[0]
