/**
 * Multi Language main stylesheet
 **/
/* line 9, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag {
  display: block;
  width: 72px;
  height: 72px;
  float: left;
  margin: 20px;
}
/* line 15, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag.en {
  background-image: url("../img/flags/bt-en.png");
}
/* line 18, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag.es {
  background-image: url("../img/flags/bt-es.png");
}
/* line 21, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag.cat {
  background-image: url("../img/flags/bt-cat.png");
}
/* line 24, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag.fr {
  background-image: url("../img/flags/bt-fr.png");
}
/* line 27, ../../../styles/multilang/main.scss */
.tcMultiLangPanel .x-button.flag.gr {
  background-image: url("../img/flags/bt-gr.png");
}
