/**
 *   MatrixMenu Stylesheet
 */

.tcMatrixMenu {
  
  // DishImageView
  .tcMatrixMenuDishImageView {
    width: 100%;
    height: 100%;
    
    .dish-image img {
      width: 100%;
      height: 100%;
    }
    
    .dish-info {
      bottom: 0px;
      width: 100%;
      height: 10%;
      background-color: rgba(0,0,0,0.10);
      position: absolute;
      display: inline-block;
      
      .dish-name {
        width: 40%;
        display: inline-block;
        
        p {
          font-weight: bold;
        }
      }
      
      .dish-description {
        width: 56%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
      
      .dish-price {
        width: 4%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
    
    }
  }
  
  // DishTextView
  .tcMatrixMenuDishTextView {
    width: 100%;
    height: 100%;
    
    .dish-name {
      width: 100%;
      height: 100%;
      
      text-align: center;
      
      h1 {
        font-weight: bold;
        font-size: 200%;
      }
    }
    
    .dish-info {
      bottom: 0px;
      width: 100%;
      height: 10%;
      background-color: rgba(0,0,0,0.10);
      position: absolute;
      display: inline-block;
      
      .dish-description {
        width: 96%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
      
      .dish-price {
        width: 4%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
    
    }
  }
  
  
  
  // MiniDishImageView
  .tcMatrixMenuMiniDishImageView {
    width: 100%;
    height: 100%;
    
    .dish-image img {
      width: 100%;
      height: 100%;
    }
    
    .dish-info {
      bottom: 0px;
      width: 100%;
      position: absolute;
      display: inline-block;
      
      .dish-name {
        width: 96%;
        display: inline-block;
        
        p {
          font-weight: bold;
        }
      }
      
      .dish-price {
        width: 4%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
    }
  }
  
  
  // MiniDishTextView
  .tcMatrixMenuMiniDishTextView {
    width: 100%;
    height: 100%;
    
    .dish-name {
      width: 100%;
      height: 100%;
      
      text-align: center;
      
      h1 {
        font-weight: bold;
        font-size: 200%;
      }
    }
    
    .dish-info {
      bottom: 0px;
      width: 100%;
      position: absolute;
      display: inline-block;
      
      .dish-description {
        width: 96%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
      
      .dish-price {
        width: 4%;
        display: inline-block;
        
        p {
         // font-weight: bold;
        }
      }
    
    }
  }
  
  // DishDetailsView
  .tcMatrixMenuDishDetailsView
  {
    width: 100%;
    height: 100%;
    
    .dish-info {
      top: 0px;
      width: 100%;
      height: 10%;
      position: relative;
      display: inline-block;
      
      .dish-name {
        width: 35%;
        display: inline-block;
      }
      
      .dish-description {
        width: 50%;
        display: inline-block;
      }
      
      .dish-price {
        width: 5%;
        display: inline-block;
      }
    }
    
    .dish-extra {
      width: 100%;
      height: 90%;
      position: relative;
      
      .dish-tabs {
        width: 60%;
        height: 100%;
        position: relative;
        
        .tab-content {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      } 
      
      .dish-social {
        width: 40%;
        height: 100%;
        position: relative;
        
        .share
        {
          width: 48px;
          height: 48px;
        }
        
        .twitter { background-image: url('http://b2badsl.net/twitter_neue_ios_icon_by_theintenseplayer-d5fwil3.png'); }
        .facebook { background-image: url('http://www.codethemed.com/images/footer-facebook.png'); }
        .google { background-image: url('http://lydiahutchinson.com/wp-content/uploads/2011/11/Google-Plus-1-icon.png'); }
      } 
    }
    
  }
  
  // DishTiledView
  .tcMatrixMenuDishTiledView .tcMatrixMenuMiniDishImageView
  {
    position: relative;
    display: inline-block !important;
  }
  
}
