<h2>Setup Menu Page</h2>

<p align="center">
</p>

<form method="POST" action="/setup/go">
	<label>Please paste your Google Spreadsheet Menu here:</label>
	<input type="text" id="gsmenu" name="gsmenu" size="30" />
	<%= submit_tag 'Setup Menu' %>
	<!-- <label>Please paste your Google Spreadsheet Menu here:</label> -->
	<!-- <input type="text" id="gsmenu" name="gsmenu" size="30" /> -->
</form>
