// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  width: 320px;
  padding: 160px 0 0;
  margin: auto;
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}

.tcLogo {
  background: url('/assets/logo.png') no-repeat;
  width: 165px;
  height: 81px;
  margin-bottom: 20px;
  margin-left: 80px;
}

form.new_user {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #E5E5E5;
  -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  display: block;
  
  & > div {
    margin-bottom: 0;
  }
  
  label {
    color: #777;
    font-size: 14px;
  }
  .input {
    font-weight: 200;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    border-color: #DFDFDF;
    color: #555;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rememberme {
    font-weight: normal;
    float: left;
    input {
      color: #555;
    }
    label {
      font-size: 12px;
      line-height: 19px;
      color: #777;
    }
  }
  .submit {
    input {
      font-size: 13px !important;
      line-height: 16px;
      padding: 6px 12px;
      float: right;
      border: none;
      font-weight: bold;
      color: white;
      background: black;
      &:active, &:hover {
        background: #ED8A00;
        cursor: pointer;
      }
    }
  }
  
  
  
}




