/***
 * Classic Theme and Responsive Style for 1024x768
 */
@media all and (max-width: 1024px) and (height: 768px) {
  /** Toolbars **/
  /* line 9, ../../../styles/skins/classic1024x768.scss */
  .tcMsgToolbar {
    position: relative;
  }

  /* line 13, ../../../styles/skins/classic1024x768.scss */
  .x-toolbar.tcTopToolbar {
    height: 105px;
  }

  /* line 17, ../../../styles/skins/classic1024x768.scss */
  .x-toolbar.tcBottomToolbar {
    height: 70px;
  }

  /** Dish Photo **/
  /** Survey **/
  /* line 34, ../../../styles/skins/classic1024x768.scss */
  .tcSurveyQuestions {
    height: 159px;
  }
}
